

h3 {
    text-align: center;
    margin-top: 30px;
}

.sombra {
    background-color: #00ffff; /* Cyan/Aqua */
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #00ffff; /* Cyan/Aqua */
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}
